<link rel="stylesheet" href="styles/lobby.css">
<script src="/">

<div id="full">
    <div id="left-hand-side">
        <div id="user-info-div">
            top
        </div>

        <div id="loadout-guide">
            bottom
        </div>
    </div>
    


    <div id="play-and-banner">
        <div id="play-button"></div>
    </div>
</div>